:root {
    /* declare a variable with `--` syntax */
    --header-color: #fabffa;
    --text-color: #700970;
    --background-color: #777a7a;
    --border-color: #ebaceb;
    --code-color: #faedfa;
    --navlink-color: #b9c6ae;
}

body {
    background-color: var(--background-color);
}

header {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    margin: 6px;
    padding: 6px;
    color: var(--header-color);
    font-size: 32px;
}

header p {
    margin: 2px;
    padding: 2px;
    font-size: 20px;
    color: var(--text-color);
}

#content-grid {
    margin: 5px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "zone1"
        "zone2"
        "zone3"
        "zone4"
        "zone5"
        "zone6";
}

#flexbox-row {
    grid-area: zone1;
}

#flexbox-column {
    grid-area: zone2;
}

#grid-column {
    grid-area: zone3;
}

#linear-gradients {
    grid-area: zone4;
}

#box-glow {
    grid-area: zone5;
}

#overlay-card {
    grid-area: zone6;
}

.content-card {
    margin: 32px 16px;
    max-width: 451px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 4px dashed var(--border-color);
    border-radius: 4px;

    transition: all 0.5s ease-in-out;
}

.card-header {

    width: 80%;
    position: relative;
    top: -38px;
    left: 16px;

    font-size: 26px;
    color: var(--header-color);
    padding: 8px 4px;
    border: 4px solid var(--border-color);
    border-radius: 4px;

    background-color: var(--background-color);
    z-index: 1;

    transition: all 0.5s ease-in-out;
}

.card-text {
    font-size: 20px;
    color: var(--text-color);
    border: 6px;
    margin: 0px 6px 6px 6px;
}

.code-card {
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-wrap: wrap;
    padding: 28px 0px;
    color: var(--code-color);
    border-radius: 12px;
    background-image: linear-gradient(rgba(230, 60, 230, 0.3) 0%,
            rgba(230, 60, 230, 0.8) 100%);

    transition: all 0.5s ease-in-out;
}


.code-card:hover,
.content-card:hover,
.card-header:hover {
    box-shadow:
        inset 0px 0px 8px rgba(232, 102, 236, 1),
        0px 0px 15px rgba(232, 102, 236, 1);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
 
    #content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "zone1 zone2"
            "zone3 zone4"
            "zone5 zone6";
    }

    .code-card{
        font-size: 2.6vw;
    }

}

@media only screen and (min-width: 992px) {
 
    #content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px 450px;
        grid-template-areas:
            "zone1 zone2 zone3"
            "zone4 zone5 zone6"
            ;
    }

    .code-card{
        font-size: 1.3vw;
    }
}

@media only screen and (min-width: 1200px){
    .code-card{
        font-size: 1vw;
    }
}